$base-color: #77c9d4;
$secondary-color: #57bc90;
$accent-color: #015249;
$default-color: #a5a5af;
$background-color: #f0f0f0;
$default-color-faded: rgba(165, 165, 175, 0.9);
$secondary-color-faded: rgba(87, 188, 144, 0.6);
