@import '../styles/_variables';

#scrollToTopBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
  .fa-circle {
    color: $base-color;
  }
}
